RewriteEngine On

RewriteRule ^v1/ - [L]

RewriteCond %{REQUEST_URI} ^/v2/(.*)
RewriteCond %{DOCUMENT_ROOT}/v2/dist/$1 -f
RewriteRule ^v2/(.*)$ /v2/dist/$1 [L]

RewriteCond %{REQUEST_URI} ^/v2
RewriteRule ^v2/?(.*)$ /v2/dist/index.html [L]