RewriteEngine On

RewriteRule ^v1/ - [L]

RewriteRule ^v2/ - [L]

RewriteCond %{REQUEST_URI} ^/v2/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v2/(.*)$ /v2/index.html [L]