RewriteEngine On

# Fix for iOS Safari video playback (Range Requests)
<IfModule mod_env.c>
    SetEnvIfNoCase Request_URI \.mp4$ no-gzip dont-vary
</IfModule>

RewriteRule ^v1/ - [L]

RewriteCond %{DOCUMENT_ROOT}/v2/dist/$1 -f [OR]
RewriteCond %{DOCUMENT_ROOT}/v2/dist/$1 -d
RewriteRule ^v2/(.*)$ v2/dist/$1 [L]

RewriteCond %{REQUEST_URI} ^/v2
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v2/.*$ v2/dist/index.html [L]